<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                {% if links_name %}
                <a href="perm" class="nav-link {% if 'perm' == 'category' %}active{% endif %} ">Пермь</a>
                <a href="moscow" class="nav-link {% if 'moscow' == 'category' %}active{% endif %} ">Москва</a>
                <a href="petersburg" class="nav-link {% if 'petersburg' == 'category' %}active{% endif %} ">Санкт-Петербург</a>
                {% endif %}

                {% if city == "Пермь" %}
                {% for i in categories %}
                <a href="perm/category_{{forloop.counter}}" class="nav-link {% if i == 'category' %}active{% endif %} ">{{ i }}</a> <br>
                {% endfor %}
                {% endif %}

                {% if city == "Москва" %}
                {% for i in categories %}
                <a href="moscow/category_{{forloop.counter}}" class="nav-link {% if i == 'category' %}active{% endif %} ">{{ i }}</a> <br>
                {% endfor %}
                {% endif %}

                {% if city == "Санкт-Петербург" %}
                {% for i in categories %}
                <a href="petersburg/category_{{forloop.counter}}" class="nav-link {% if i == 'category' %}active{% endif %} ">{{ i }}</a> <br>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>