{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
    {% include 'data_analysis/head.html' with title=city %}
<header>        
    {% include 'data_analysis/header.html' with cities=cities city=city categories=categories category=category %}    
</header>
<body>
    {% block content %}
    <h1 class="display-1">{{city}}</h1>
    {% endblock %}

    <p class="image">
        <img src="{% static 'data_analysis/img/max.png' %}" alt="top_10_max" > <br>
        <img src="{% static 'data_analysis/img/min.png' %}" alt="top_10_min" >
        <img src="{% static 'data_analysis/img/mean.png' %}" alt="pivot_table_mean" >
        <img src="{% static 'data_analysis/img/mod.png' %}" alt="pivot_table_mod" >
    </p>

    <style>
        .image {text-align: center;}
    </style>
</body>
</html>