{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
    <title>Стартовая страница</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<header>        
    {% include 'data_analysis/header.html' with regions=regions %}    
</header>
<body>
    <h1 class="display-5">Market Matcher</h1>
    <h2 class="display-6">Сравнение продуктов питания из разных магазинов</h2> <br>
    <p class="display-7">
        Проект Market Matcher предназначен для облегчения поиска продуктов питания путем сравнения цен из разных магазинов. <br>
        Проект стремится предоставить пользователям инструмент для принятия информационных решений при покупке продуктов.
    </p>
</body>
</html>